{% extends '@PluetznerBlock/_layout/base.html.twig' %}
{% block h1 %}
    Textblock
    <small>Übersicht</small>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="portlet light">
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                            <span class="caption-subject font-blue-hoki bold uppercase">
                            Textblocks
                        </span>
                    </div>

                </div>

                <div class="portlet-body">
                    <table class="table-striped table-hover table">
                        <thead>
                        <tr>
                            <th>Slug</th>
                            <th>Text</th>
                            <th class="text-right">Optionen</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for textblock in pagination %}
                            <tr>
                                <td>
                                    {{ textblock.slug }}
                                </td>
                                <td>{{ textblock.text }}</td>
                                <td class="text-right">
                                    {{ buttonBlock(textblock.slug, 'edit', 'edit') }}
                                    <a href="{{ path("pluetzner_block_textblock_delete", {"id":textblock.id}) }}"
                                       class="text-danger">{{ 'trash'|icon }}
                                        Löschen</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a class="btn btn-primary" href="{{ path("pluetzner_block_textblock_edit") }}">+ Hinzufügen</a>
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}