{% extends '@PluetznerBlock/_layout/base.html.twig' %}
{% block h1 %}
    Stringblock
    <small>Übersicht</small>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Stringblocks
                    {% if export == true %}
                        <div class="btn-group pull-right" aria-label="...">
                            <a href="{{ path('pluetzner_block_stringblock_export') }}" type="button" class="btn btn-default"><i class="fa fa-sign-out"></i> Export</a>

                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-sign-in"></i> Import
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu">
                                    <div class="col-xs-12">
                                        {{ form(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="clearfix"></span>
                    {% endif %}
                </div>


                <table class="table-striped table-hover table">
                    <thead>
                    <tr>
                        <th>Slug</th>
                        <th>Text</th>
                        <th class="text-right">Optionen</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for stringblock in pagination %}
                        <tr>
                            <td>
                                {{ stringblock.slug }}
                            </td>
                            <td>{{ stringblock.text }}</td>
                            <td class="text-right">
                                {{ buttonBlock(stringblock.slug, 'edit', 'edit') }}
                                <a href="{{ path("pluetzner_block_stringblock_delete", {"id":stringblock.id}) }}"
                                   class="text-danger">{{ 'trash'|icon }}
                                    Löschen</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a class="btn btn-primary" href="{{ path("pluetzner_block_stringblock_edit") }}">+ Hinzufügen</a>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}