<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    {% include "@PluetznerBlock/_layout/favicon.html.twig" %}


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
          type="text/css"/>

    <link href="{{ asset('bundles/pluetznerblock/fonts/font-awesome.min.css') }}" rel="stylesheet"
          type="text/css"/>

    {% stylesheets '@PluetznerBlockBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% block stylesheets %}

    {% endblock %}


</head>

<body>

{% include "@PluetznerBlock/_layout/app_header.html.twig" %}


<div class="container">

    {% block messages %}
        {% set messages = app.session.flashBag.keys() %}
        {% if messages %}
            <div class="row">
                <div class="alertmessages col-xs-12">
                    {% for type in messages %}
                        <div class="alert alert-{% if 'error' == type %}danger{% else %}{{ type }}{% endif %}" role="alert">{{ app.session.flashBag.get(type)|join(' ') }}</div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endblock %}
    <h1>
        {% block h1 %}
        {% endblock %}
    </h1>
    {% block body %}
    {% endblock %}

</div>
<footer class="navbar-fixed-bottom">
    <div class="container">
        <div class="page-footer-inner"></div>
    </div>
</footer>
<div class="scroll-to-top" style="display: none;">
    {{ "arrow-up"|icon }}
</div>

{% javascripts
"@PluetznerBlockBundle/Resources/public/js/jquery-3.2.1.min.js"
"@PluetznerBlockBundle/Resources/public/js/jquery-ui.min.js"
"@PluetznerBlockBundle/Resources/public/js/pl-approvable.js"
"@PluetznerBlockBundle/Resources/public/js/bootstrap.min.js"
"@PluetznerBlockBundle/Resources/public/js/bootbox.min.js"
"@PluetznerBlockBundle/Resources/public/js/editor.js"
output='/compiled/js/core.js' %}

<script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}

{% block javascript %}
{% endblock %}
</body>
</html>
